:root{
  --text: hsl(200, 15%, 8%);
  --input:hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.121);
  --shadow-thin: 2px 2px 2px rgba(0, 0, 0, 0.128),-2px -2px 1px rgba(0, 0, 0, 0.037); 
  --shadow-thick: 2px 2px 8px rgba(0, 0, 0, 0.235),-2px -2px 4px rgba(0, 0, 0, 0.139);
  --element:hsl(0, 0%, 98%);
}
.dark-theme{
  --text: hsl(0, 0%, 98%);
  --input:hsl(0, 0%, 52%);
  --background:  hsl(207, 26%, 17%);
  --shadow: 0 2px 4px rgba(255, 255, 255, 0.121);
  --shadow-thin: 2px 2px 2px rgba(255, 255, 255, 0.128),-2px -2px 1px rgba(255, 255, 255, 0.037); 
  --shadow-thick: 2px 2px 8px rgba(255, 255, 255, 0.235),-2px -2px 4px rgba(255, 255, 255, 0.139);
  --element:hsl(209, 23%, 22%);
}
.light-theme{
  --text: hsl(200, 15%, 8%);
  --input:hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 98%);
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.121);
  --shadow-thin: 2px 2px 2px rgba(0, 0, 0, 0.128),-2px -2px 1px rgba(0, 0, 0, 0.037); 
  --shadow-thick: 2px 2px 8px rgba(0, 0, 0, 0.235),-2px -2px 4px rgba(0, 0, 0, 0.139);
}
@font-face {
  font-family:'Nunito Sans' ;
  src: url('https://fonts.google.com/specimen/Nunito+Sans');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: var(--text);
}
body{
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}
.navbar{
  width: 100%;
  background-color: var(--element);
  display: flex;
  justify-content: space-between;
  padding:2rem 5rem;
  box-shadow:var(--shadow);
}
.colorscheme{
  display: flex;
  gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--text);
  font-weight: 400;
}
.country{
  padding: 2rem 5rem;
}
.country-inputs{
  display: flex;
  justify-content: space-between;
}
.search{
  position: relative;
}
.search input{
  width: 25vw;
  height: 3.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-thin);
  padding: 0px 0px 0px 100px;
  font-size: 1rem;
  outline-color: var(--input);
  background-color: var(--element);
}
.searchicon{
  position: absolute;
  top: 22px;
  left: 40px;
}

.filter-region{
  position: relative;
  width: 12rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-region label{
  z-index: 0;
  
}
.filter-region select{
  z-index: -1;
  position: absolute;
  font-size: 1rem;
  text-align: center;
  width: 12rem;
  height: 3.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-thin);
  outline: none;
  top: 0;
  left: 0;

}
.countries{
  padding: 2rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap:5rem ;
  column-gap: 4rem;
  
}
.countries-container{
  width: 20rem;
  border: none;
  box-shadow: var(--shadow-thin);
  border-radius: 8px;
  overflow: hidden;
}
.country-image img{
  width: 100%;
  height: 293px;
  object-fit: cover;
}
.countries-info{
  padding:1rem 1.5rem 4rem ;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text);
}
.country-name{
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.countries-info span{
  font-weight: 600;
}
.country-links{
  text-decoration: none;
}
.single-country{
  padding: 2rem 5rem;
}
.back{
  border: none;
  box-shadow: var(--shadow-thick);
  padding: 0.5rem 1rem;
  font-size: 1rem;
 
}

/* single country page */
.single-country-info{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
}
.single-country-flag{
  flex: 1;
 
}
.single-country-flag img{
  width: 90%;
  
}
.single-country-info-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.sc-column{
  display: flex;
  gap: 5rem;
}
.sc-column span,.sc-border-country span{
  font-size: 1.1rem;
  font-weight: 600;
}
.sc-column-1,.sc-column-2{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sc-border-country{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sc-border-country div{
  display: flex;
  gap: 0.5rem;
}

.single-country-name{
  font-size: 1;
}
.tailspin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

/*  */
@media (max-width:480px)  { 
  .country,.navbar,.countries,.single-country{
    padding: 2rem 1rem ;
  }
  .navbar{
    margin-bottom: 2rem;
  }
  .where,.colorscheme{
    font-size: 0.9rem;
  }
  .colorscheme{
    font-size: 0.8rem;
    gap: 0.2rem;
  }
  .single-country-info,.sc-column{
    flex-direction: column;
  }
  .sc-border-country{
    flex-direction: column;
    align-items: unset;
  }
  .sc-border-country div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .sc-column{
    flex-direction: column;
  }
  .countries-container{
    width: 15rem;
  }
  .countries{
    flex-direction: column;
   align-items: center;
  }
  .country-inputs{
    flex-direction: column;
    gap: 2rem;

  }
  .search input{
    width: unset;
  }
}





details {
  position: relative;
  width: 100%;
  
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--background);
  list-style: none;
  box-shadow: var(--shadow-thin);

}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: '';
  display: inline-block;
  float: right;
  width: .5rem;
  height: .5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

ul {
  width: 100%;
  background: var(--background);
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: var(--shadow-thin);
  list-style-type: none;
}

li {
  margin: 0;
  padding: 1rem 0;

}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type=radio]:checked {
  display: inline;
  --display: block;
}

input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}


